:root {
	--nav-bar-height: 50px;
	--popup-width: 400px;
	--popup-height: 600px;
}

* {
	font-family: 'Segoe UI'

}

body {
  	background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bleepstatic.com%2Fimages%2Fnews%2FMicrosoft%2Fwindows-11%2Fleak%2Fnew-default-wallpaper.jpg&f=1&nofb=1);
	user-select: none;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	background-attachment: fixed;
} 

#start:active {
}


.nav-bar {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgb(233, 243, 252);
	resize: both;
}

.nav-bar-options {
	display: flex;
	align-items: center;
}



.nav-bar-options {

}

.icon:hover	 {
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
background-color: rgb(233, 243, 252);
transition: 0.2s 
}

.icon:active {
	transform: scale(0.7, 0.7);
}

.pop-up {
	background-image: linear-gradient(rgb(233, 243, 252) 87%, rgb(212, 222, 241) 15%);
	width: 400px;
	height: 600px;
	position: absolute;
	left: 36%;
	right: 35%;
	border-radius: 10px;
	opacity: 0.9;
	display: none;
	padding-left: 5%;
	padding-right: 5%;
	bottom: 7%;
	
}

#date {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

@keyframes zoom {
	0% {bottom: 0; opacity: 0}
	100% {bottom: 7%; opacity: 0.9}
	/* 0% {transform: scale(0)}
	100% {transform: scale(1)} */
}

@keyframes close {
	0% {bottom: 7%; opacity: 0.9}
	100% {bottom: 0%; opacity: 0}
}


#search {
	cursor: pointer;
	height: 40px; 
}

#search-bar {
	display: none;
	border: none;
	height: 33px;
	width: 550px;
	position: absolute;
	right: 25px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 2px solid rgb(22,88,138) !important;
	box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
	padding-top: 3%;
	margin-top: 10px;
	font-size: 1rem;
	padding: 0px 3px;
	color: rgb(152, 152, 152);
	text-indent: 2ch;

}

#search-bar::before{
	content: url("icon.svg") !important;
}

.user-options {
	position: absolute;
	width: calc(var(--popup-width) + 192px);
	height: 70px;	
	bottom: 0px;
	left: 0; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.user-avatar {
	height: 40px;
	border-radius: 50%;
	margin-left: 15%;
	margin-top: 2%;

}

.user-avatar::before {
	content: "tron975";
	color: black;
}

.shut-down {
	height: 40px;
	border-radius: 50%;
	position: absolute;
	right: 4rem;
	margin-top: 3%;
	height: 23px;
	cursor: pointer;
}



.user-avatar::after {
}