:root {
	--nav-bar-height: 50px;
}


body {
  	background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bleepstatic.com%2Fimages%2Fnews%2FMicrosoft%2Fwindows-11%2Fleak%2Fnew-default-wallpaper.jpg&f=1&nofb=1);
	user-select: none;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	background-attachment: fixed;
} 


.nav-bar {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #d4def5;
}

.h1 {
	font-size: 0;
}

.h1::before {
	content: url("https://img.icons8.com/color/48/000000/windows-11.png");
position: absolute;
bottom: 2px;
	z-index: 100;
	left: 50%;
	transform: scale(0.9);
	transition: transform 0.2s;
	
}

.h1:hover::before {
cursor: pointer;
background-color: rgb(255, 255, 255, 0.6);
}

.h1:active::before {
	transform: scale(0.7, 0.7)
}

.pop-up {
	background-color: rgb(41, 52, 79);
	width: 400px;
	height: 600px;
	position: absolute;
	left: 36%;
	right: 35%;
	border-radius: 10px;
	opacity: 0.9;
	display: none;
	padding-left: 5%;
	padding-right: 5%;
	bottom: 10%;
	
}

#date {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.fa-magnifying-glass {
position: absolute;
	bottom: 5px;
	left: 50%;
}

@keyframes zoom {
	0% {transform: scale(0)}
	100% {transform: scale(1)}
}

@keyframes close {
	100% {}
}