:root {
	--nav-bar-height: 50px;
}


body {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bleepstatic.com%2Fimages%2Fnews%2FMicrosoft%2Fwindows-11%2Fleak%2Fnew-default-wallpaper.jpg&f=1&nofb=1);
	user-select: none;
	background-size: 100% auto;
} 


.nav-bar {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #d4def5;
	opacity: 1;
}

.h1 {
  font-family: monospace;
	font-size: 0;
}

.h1::before {
	content: url(https://cdn.artofproblemsolving.com/attachments/1/2/e3a90ed781bdefa7e1bdb79bfbddb2ae1b1d13.png);
position: absolute;
bottom: 2px;
	z-index: 100;
	left: 50%;
	transition: 0.2s;
	
}

.h1:hover::before {
cursor: pointer;
background-color: white;
opacity: 0.6;
}

.h1:active::before {
	transform: scale(0.8, 0.8)
}

#date {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
